.keys-container {
  display: flex;
  justify-content: center;
  background-color;
}



.key {
  margin: 2px;
  border: 1px solid #aaa;
  height: 200px;
  width: 40px;
  border-radius: 4px;
cursor: pointer;
}

.key#c:hover { background-color: red; }
.key#d:hover { background-color: orange; }
.key#e:hover { background-color: yellow; }
.key#f:hover { background-color: green; }
.key#g:hover { background-color: blue; }
.key#a:hover { background-color: purple; }
.key#b:hover { background-color: #F7c; }
